//common
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

//wrap
.wrap {
    flex: 1;
    margin-top: 65px;

    section {
        width: 100%;
        height: calc(100vh - 66px);
    }

    $pages: ('home', 'about', 'products', 'contact');

    @for $i from 1 through length($pages) {
        section:nth-child(#{$i}) {
            background-color: lighten(#444, $i * 5%);
            color: #fff;
        }
    }

    .inner {
        padding: $inrPd;
    }
}
